*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    background-color: #3c3252;
}

body{
    font-size: 1.6rem;
}

.TextDiv, .ImgBackground, .MacOSText, .WindowsText, .TetxDivHome, 
.StarshipText, .SimulatorCodeText, .AstronautText, .MissionText, 
.RaptorText{
    padding: 1rem;
    margin: 3rem;
    margin-right: 10rem;
    border-radius: 2.5rem;
    font-size: 3rem;
}

.WindowsText{
    background-color: #ffffff;
    color: #000000;
}

.TextDiv, .MissionText{
    background-color: #222831;
    color: #EEEEEE;
}

.MacOSText, .SimulatorCodeText, .RaptorText{
    background-color: #EEEEEE;
    color: #222831;
}

.StarshipText{
    background-color: #090b0e;
    color: #EEEEEE;
}

.AstronautText{
    background-color: #6a6a6a;
    color: #EEEEEE;
}

.MissionText{
        background-color: #6a6a6a;
    color: #EEEEEE;
}

.ImgBackground{
    background-color: #ffffff;
}

.TextDiv, .MacOSText, .WindowsText, .StarshipText, 
.SimulatorCodeText, .AstronautText, .MissionText, 
.RaptorText{
    max-width: 70rem;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 9.5rem;
}

#RocketImage{
    margin: auto;
    max-width: min-content;
    border-radius: 2.5rem;
}

nav, .footer{
    background-color: #222831;
    width: 100%;
}

.footer{
        display: flex;
        align-items: center;
        left: 0;
        bottom: 0;
        color: white;
        height: 3rem;
        padding-left: 2rem;
        font-size: 1rem;
        position: fixed;
}

nav li{
    display: inline-block;
    text-decoration: none;
    margin-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #EEEEEE;
    text-decoration: inherit;
}

#LinkDecoration{
    color: #0042a6;
    text-decoration: underline #0042a6;
}

a{
    text-decoration: inherit;
    color: #EEEEEE;
}

#logo{
    width: 7rem;
    margin-left: 2rem;
}

h1, h2{
    text-align: center;
}

input{
    background-color: #3498DB;
    color: #ffffff;
    border-style: none;
    padding: 0.5rem;
    margin-top: 0.7rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 3.5rem;
}

input:hover{
    background-color: #2E86C1;
    cursor: pointer;
}

input:active{
    padding: 0.4rem;
}

button{
    background-color: #3498DB;
    color: #ffffff;
    border-style: none;
    padding: 0.5rem;
    margin-top: 0.7rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 3.5rem;
}

button:hover{
    background-color: #2E86C1;
    cursor: pointer;
}

button:active{
    padding: 0.4rem;
}

#WindowsButton, #WindowsButton2{
    background-color: #00aef0;
}

#MacOSButton{
    background-color: #646464;
}

#LinuxButton{
    background-color: #ff942a;
}

.MacOSBox, .LinuxBox, .WindowsBox, .LinuxBox, 
.StarshipBox, .SimulatorCode, .AstronautBox, 
.MissionBox, .TimeLineBox, .RaptorBox, .ManualBox{
    padding: 1rem;
    margin: 3rem;
    border-radius: 2.5rem;
    font-size: 2rem;
    background-color: #ffffff;
}

.SimulatorCode{
    background-color: #ffffff;
}

.TimeLineBox{
    background-color: #000000;
}

.MissionBox{
    background-color: #7b7b7b;
}

.StarshipBox{
    background-color: #010302;
}

.RaptorBox{
    background-color: #3c3c3c;
}

.WindowsBox{
    background-color: #00aef0;
}

.AstronautBox{
    background-color: #767676;
}

.ManualBox{
    background-color: #EEEEEE;
}

.DivsDownload{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
    align-items: center;
}

#WindowsImage, #LinuxImage{
    width: 100%;
    border-radius: 2.5rem;
}

.WindowsImageBox{
    width: 80rem;
    margin-right: 5rem;
}

.LinuxImageBox{
    /*margin-right: 5rem;*/
    width: 80rem;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinuxBox{
    justify-content: center;
    align-items: center;
}

#LinuxImage{
    width: 40rem;
}

#MacOSLetter{
    color: #646464;
}

#WindowsLetter{
    color: #00aef0;
}

#LinuxLetter{
    color: #ff942a;
}

.Buttons{
    display: flex;
}

.DownloadWindows1, .DownloadWindows2{
    width: 100%;
}

.DownloadWindows1{
    margin-right: 2rem;
}

#StarshipImage{
    max-width: 90rem;
}

#UruguayImage{
    width: 1.5rem;
}

.FooterUnnamed{
    display: flex;
    justify-content: right;
    margin-left: 65%;
}

img{
    border-radius: 2.5rem;
}

#MissionsTitle{
    margin-top: 2rem;
    color: #EEEEEE;
    font-size: 5rem;
}
