@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*GENERAL CHARACTARISTICS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #000000;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: inherit;
    color: #EEEEEE;
}

h1, h2{
    text-align: center;
}

#LinkDecoration{
    color: #0042a6;
    text-decoration: underline #0042a6;
}

.button{
    /*background-color: #3498DB;*/
    background-color: transparent;
    color: #ffffff;
    border-style: none;
    padding: 0.5rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 100%;
    border: 0.1rem solid #ffffff;
    border-radius: 2rem;
}

button:hover{
    animation: mymove 1s;
}

@keyframes mymove {
    from {
        background-color: transparent;
        color: #ffffff;
    }
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
/*CHARACTERISTICS OF HOME COMPONENT*/

.Divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    margin-top: 9.5rem;
    flex-direction: row;
    margin-bottom: 15rem;
    margin-right: 8rem;
    margin-left: 8rem;
    border-radius: 5rem;
}

.homeTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 5rem;
}

.ImgBackground{
    margin: auto;
    border-radius: 2.5rem;
    font-size: 3rem;
}

#RocketImage{
    margin: auto;
    max-width: min-content;
}

.TextDiv{
    width: 70rem;
    height: 65rem;
    /*background-color: #272727;*/
    background-color: black;
    margin: auto;
    border-radius: 2.5rem;
    font-size: 2.8rem;
    color: #EEEEEE;
    max-width: 70rem;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#tituloHome{
    font-size: 8rem;
    color: #ffffff;
}

.homeTitle img{
    max-height: 15rem;
}

@media (max-width: 768px){
    #RocketImage{
        visibility: hidden;
        width: 0.1rem;
    }
}