@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*GENERAL CHARACTARISTICS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #000000;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: inherit;
    color: #EEEEEE;
}

h1, h2{
    text-align: center;
}

#LinkDecoration{
    color: #0042a6;
    text-decoration: underline #0042a6;
}

/*CHARACTERISTICS OF FOOTER COMPONENT*/

.footer{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    right: 0;
    bottom: 0;
    color: #000000;
    height: 5rem;
    padding: 1rem;
    font-size: 1rem;
}

a{
    text-decoration: inherit;
    color: #000000;
}

#UruguayImage{
    width: 1.5rem;
}

.socialMedia{
    display: flex;
    flex-direction: row;
    
}

.socialMedia img{
    padding-right: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
}

.content{
    margin: auto;
}

.content a{
    color: #000000;
}